/* Default styles for all screen sizes */

/* Example of existing styles */

body {
    margin: 0%;
    background-color: black;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(3, 3, 3, 0.962);
}

.navbar-left {
    padding-left: 30px;
}

.navbar-right {
    padding-right: 100px;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.logo-image {
    height: 275px;
    padding-left: 200px;
}

.a-element {
    padding: 10px;
    margin: 10px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

.a-element:hover {
    color: aquamarine;
}

.pic {
    height: 475px;
    padding-right: 10px;
    border-radius: 100vh;
    filter: grayscale(100%);
}

.pic:hover {
    filter: grayscale(0%);
}

.Home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    margin: 5px;
    background-color: black;
}

.Home-left {
    width: 50vw;
    padding-left: 200px;
    color: white;
    text-align: right;
    size: 200px;
}

.Home-right {
    width: 50vw;
    padding-left: 100px;
}

.Home-h1 {
    background: linear-gradient(to right, rgba(0, 168, 253, 1), #fff 35%, #e00a95);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s linear infinite;
    font-size: 60px;
    font-family: "Racing Sans One", sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 75%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 70;
    }
}

.Home-p {
    font-family: "Encode Sans Expanded", sans-serif;
    color: #fff;
}

.Home-p:hover {
    color: aquamarine;
}

/* Media queries for mobile screens */

@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar-left, .navbar-right {
        padding: 15px;
    }

    .logo-image {
        height: 150px;
        padding-left: 0;
    }

    .a-element {
        font-size: 16px;
    }

    .pic {
        height: auto;
        width: 100%;
    }

    .Home {
        flex-direction: column;
        height: auto;
    }

    .Home-left {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .Home-right {
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
    }

    .Home-h1 {
        font-size: 40px;
        padding-left: 0;
    }

    .Home-p {
        padding: 20px;
    }

    .Aboutimg {
        height: auto;
        max-width: 100%;
    }

    .paraabout {
        padding: 10px;
    }

    .skill-container {
        flex-direction: column;
    }

    .skil-card {
        margin: 10px;
    }

    .contact-info, .social-icons {
        padding: 10px;
    }
}
